@model Dcomms.UserApp.LocalUser
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Account details</h3>

<form asp-action="Details" asp-route-id="@Model.User.Id">
    <table>
        <tr>
            <td style="min-width: 150px">Account ID</td>
            <td>
                <input asp-for="UserAliasID" class="form-control" />
                <span asp-validation-for="UserAliasID" class="text-danger"></span>
            </td>
        </tr>
        @for (int i = 0; i < @Model.User.UserID.RootPublicKeys.Count; i++)
        {
            <tr>
                <td>Public key #@(i + 1)</td>
                <td>@Dcomms.MiscProcedures.ByteArrayToString(Model.User.UserID.RootPublicKeys[i])</td>
            </tr>
        }

        <tr>
            <td>Certificate</td>
            <td>valid from @Model.User.LocalUserCertificate.ValidFromUtc to @Model.User.LocalUserCertificate.ValidToUtc</td>
        </tr>
        

        @for (int i = 0; i < @Model.UserRegistrationIDs.Count; i++)
        {
            var regId = Model.UserRegistrationIDs[i];
            <tr>
                <td>Registration ID #@(i + 1)</td>
                <td>@Dcomms.MiscProcedures.ByteArrayToString(regId.RegistrationId.Ed25519publicKey)</td>
            </tr>
            <tr>
                <td>&emsp;status</td>
                <td style="color: @(regId.LocalDrpPeer?.IsConnected == true ? "green" : "red")">@regId.LocalDrpPeer?.Status</td>
            </tr>
        }
    </table>

    <hr />

    <input type="submit" value="Save" class="btn btn-primary" />&nbsp;<a asp-action="Delete" asp-route-id="@Model.User.Id" class="btn btn-primary">Delete</a>&emsp;<a href="javascript:history.back()">Back</a>
</form>
