@model Dcomms.UserApp.Contact
@{
    ViewData["Title"] = "Contact details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Contact details</h3>

<form asp-action="Details" asp-route-userId="@Model.OwnerLocalUserId" asp-route-contactId="@Model.ContactId">
    <table>
        <tr>
            <td style="min-width: 150px">Contact ID</td>
            <td>
                @if (Model.IsConfirmed)
                {
                    <input asp-for="UserAliasID" class="form-control" />
                    <span asp-validation-for="UserAliasID" class="text-danger"></span>
                }
                else
                {
                    @Model.UserAliasID
                }
            </td>
        </tr>

        @if (Model.User == null)
        {
            <tr>
                <td>Status</td>
                <td>Invitation is not accepted yet</td>
            </tr>
            if (Model.LocallyInitiatedIke1Invitation != null)
            {
                <tr>
                    <td style="min-width: 190px">Invitation key to send</td>
                    <td>
                      
                        <table >
                            <tr>
                                <td>
                                    @{var locallyInitiatedIke1Invitation = Model.LocallyInitiatedIke1Invitation.EncodeForUI(); }
                                    <input style="width:260px" id="invitation1232" type="text" readonly value="@locallyInitiatedIke1Invitation" onClick="this.setSelectionRange(0, this.value.length);" />
                                </td>
                                <td>
                                    &nbsp;<a style="height: 30px" href="javascript:copyToClipboard('invitation1232')"><img style="height: 30px" src="~/svg/copy-clipboard.svg" /></a>
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>
            }
        }
        else if (Model.User.Metadata != null)
        {          
            <tr>
                <td>Metadata</td>
                <td>
                    created at @Model.User.Metadata.ContactCreatedAtUTC UTC, @Model.User.Metadata.ContactCreatedWithRemoteEndpoint
                </td>
            </tr>          
        }

        @if (Model.User != null) for (int i = 0; i < Model.User.UserID.RootPublicKeys.Count; i++)
        {
            <tr>
                <td>Public key #@(i + 1)</td>
                <td>@Dcomms.MiscProcedures.ByteArrayToString(Model.User.UserID.RootPublicKeys[i])</td>
            </tr>
        }

        @if (Model.RegistrationIDs != null) for (int i = 0; i < Model.RegistrationIDs.Count; i++)
        {
            <tr>
                <td>Registration ID #@(i + 1)</td>
                <td>@Dcomms.MiscProcedures.ByteArrayToString(Model.RegistrationIDs[i].RegistrationId?.Ed25519publicKey)</td>
            </tr>
        }
    </table>

    <hr />
    @if (Model.IsConfirmed)
    {
        <input type="submit" value="Save" class="btn btn-primary" />
    }

    &nbsp;<a asp-action="Delete" asp-route-userId="@Model.OwnerLocalUserId" asp-route-contactId="@Model.ContactId" class="btn btn-primary">Delete</a>&emsp;<a href="javascript:history.back()">Back</a>
</form>
