@model Dcomms.Vision.VisionChannel1
@{
    ViewData["Title"] = "System Log";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>System Log</h1>

<form asp-action="Index" style="border: 1px solid #999; margin-bottom: 4px; padding: 4px">
    <div class="input-group" style="margin-bottom: 10px">
        Display max
        &nbsp;<input asp-for="DisplayedLogMessagesMaxCount" /> messages
        &emsp;Modules: <input asp-for="DisplayFilterModuleContainsStrings" />
        &emsp;Msg contains: <input asp-for="DisplayFilterMessageContainsString" />        
        &emsp;Max messages in RAM: <input asp-for="ClearLog_MessagesCount" />

        &emsp;Attention:
        <select asp-for="AttentionLevel" asp-items="Html.GetEnumSelectList<Dcomms.Vision.AttentionLevel>()">
            <option selected="selected" value="">Please select</option>
        </select>
        &emsp;Display min level:
        <select asp-for="DisplayFilterMinLevel" asp-items="Html.GetEnumSelectList<Dcomms.Vision.AttentionLevel>()">
            <option selected="selected" value="">Please select</option>
        </select>

        &emsp;
        <input type="submit" value="Apply" class="btn btn-primary">
    </div>       
</form>

<div style="border: 1px solid #999; margin-bottom: 10px; padding: 4px">
    @Model.MaxEmittedAttentionLevelLogMessage
</div>

<div>
    <a asp-controller="SystemLog" asp-action="Download" class="btn btn-primary">Download logs in ZIP</a>
</div>

<table class="table1">
    @foreach (var msg in Model.DisplayedLogMessages)
    {
    <tr>
        <td style="white-space: nowrap">@msg.TimeStr</td>
        <td style="@msg.AttentionLevelColorCssStyle">@msg.AttentionLevel</td>
        <td>@msg.ModuleName</td>
        <td>@msg.Message</td>
    </tr>
    }

</table>
<div style="height: 200px" />